* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --mainColor: #3093a9;
  --secondaryColor: #ff9800;
  --trans: 0.5s ease;
  --colorBlack: #000;
  --greyColor: #777;
}

::selection {
  background-color: var(--mainColor);
  color: #FFF;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--mainColor);
  border-radius: 30px;
}

::-webkit-scrollbar-track {
  background-color: #f8f8f8;
  border-radius: 30px;
}

.padding {
  padding: 60px 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #FFF;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}


/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.up {
  background-color: var(--mainColor);
  position: fixed;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  cursor: pointer;
  color: #FFF;
  border-radius: 4px;
  right: -100px;
  bottom: 30px;
  opacity: 0.5;
  transition: var(--trans);
}

.up.show {
  right: 30px;
}

.up:hover {
  opacity: 1;
}


/* Start Main-title */
.main-title {
  text-align: center;
  user-select: none;
  margin-bottom: 60px;
}

.main-title h2 {
  font-weight: bold;
  color: var(--colorBlack);
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 auto 30px;
  position: relative;
  width: fit-content;
}

.main-title h2::before {
  content: "";
  width: 100%;
  height: 4px;
  background-color: #0004;
  position: absolute;
  bottom: -15px;
  left: 0;
  border-radius: 30px;
}

.main-title h2::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border: 2px solid #0004;
  border-radius: 50%;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFF;
}

.main-title p {
  color: var(--greyColor);
  font-size: 15px;
  text-transform: capitalize;
}

/* End Main-title */

/* Start Navbar */
.navbar {
  background-color: #FFF;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-bottom: 2px solid var(--mainColor);
}

.navbar.fixed {
  animation: fromTop 0.4s linear forwards;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

@keyframes fromTop {
  from {
    top: -100px;
  }

  to {
    top: 0px;
  }
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 72px;
  position: relative;
}

.navbar .logo {
  font-weight: bold;
  color: var(--colorBlack);
  font-size: 25px;
  text-transform: uppercase;
}

.navbar .links {
  display: flex;
}

@media(max-width:992px) {
  .navbar .links {
    position: absolute;
    flex-direction: column;
    top: 75px;
    width: 100%;
    background: #FFF;
    box-shadow: 0 0 10px #DDD;
    border-bottom: 2px solid var(--mainColor);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    opacity: 0;
    transform: scale(0);
    pointer-events: none;
    transition: var(--trans);
    z-index: 999;
  }
}

.navbar .links.show {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}

@media(max-width:767px) {
  .navbar .links {
    left: 0;
  }
}

.navbar .links li a {
  color: var(--colorBlack);
  opacity: 0.7;
  font-weight: 400;
  margin-right: 10px;
  text-transform: uppercase;
  transition: var(--trans);
}

@media(max-width:992px) {
  .navbar .links li a {
    margin-bottom: 10px;
    display: block;
    width: fit-content;
    margin: 0 auto 20px;
    font-weight: 600;
  }

  .navbar .links li:last-child a {
    margin-bottom: 0;
  }
}

.navbar .links li a.active,
.navbar .links li a:hover {
  opacity: 1;
  font-weight: 600;
}


.navbar .user {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar .user .login {
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  gap: 7px;
  align-items: center;
}

@media(min-width:993px) {
  .toggle {
    display: none;
  }
}

@media(max-width:992px) {
  .navbar .user .search {
    display: none;
  }
}

.toggle {
  font-size: 27px;
  color: var(--colorBlack);
  opacity: 0.7;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #CCC;
  border-radius: 4px;
  transition: var(--trans);
}

.toggle.fa-x {
  color: #f05;
  transition: var(--trans);
}


/* Start Landing */
.landing .content {
  min-height: calc(100vh - 72px);
  position: relative;
}

.landing .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.landing .box.active {
  display: flex;
}

@keyframes showItem {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media(max-width:992px) {
  .landing .box {
    flex-direction: column;
  }
}

.landing .box .text {
  flex-basis: 48%;
  opacity: 0;
}

.landing .box.active .text {
  animation: moveLeft 0.5s linear forwards;
}

@keyframes moveLeft {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.landing .box .text>* {
  margin-bottom: 20px;
}

.landing .box .text h2 {
  font-weight: bold;
  font-size: 45px;
  line-height: 1.2;
  text-transform: capitalize;
}



@media(max-width:767px) {
  .landing .box .text h2 {
    font-size: 30px;
    margin: 15px 0;
  }
}

.landing .box .text p {
  font-size: 15px;
  color: var(--greyColor);
  font-weight: 400;
  line-height: 1.7;
}

.landing .box .image {
  flex-basis: 48%;
  animation: moveRight 0.5s linear forwards;
  opacity: 0;
  overflow: hidden;
  text-align: center;
}


@keyframes moveRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.landing .box .image img {
  width: 100%;
  max-width: 100%;
  height: 500px;
  object-fit: cover;
}

@media(max-width:767px) {
  .landing .box .image img {
    height: auto;
  }
}

.btns {
  display: flex;
  gap: 20px;
}

.main-btn,
.secondary-btn {
  width: 150px;
  height: 40px;
  font-size: 17px;
  text-transform: capitalize;
  color: #FFF;
  font-weight: 500;
  border: none;
  outline: none;
  letter-spacing: 1px;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--trans);
}

.main-btn {
  background-color: var(--mainColor);
  border: 2px solid var(--mainColor);
}

.main-btn:hover {
  background-color: #f1f5f9;
  color: var(--mainColor);
}

.secondary-btn {
  background-color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
}

.secondary-btn:hover {
  background-color: transparent;
  color: var(--secondaryColor);
}


.landing .incad {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

@media(max-width:767px) {
  .landing .incad {
    bottom: 0;
  }
}

@media(min-width:768px) and (max-width:992px) {
  .landing .incad {
    bottom: -200px;
  }
}

.landing .incad li {
  width: 20px;
  height: 20px;
  background: var(--mainColor);
  border-radius: 50%;
  cursor: pointer;
}

.landing .incad li.active {
  background-color: var(--secondaryColor);
  border: 2px solid #f6f6f6;
}


/* Start Feature */

@media(min-width:768px) and (max-width:992px) {
  .feature {
    margin-top: 200px;
  }
}

.feature .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
}

.feature .content .box {
  border: 1px solid #CCC;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  transition: var(--trans);
}

.feature .content .box:hover {
  transform: translateY(-5px);
}

.feature .content .box img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.feature .content .box h2 {
  color: var(--colorBlack);
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
  transition: var(--trans);
}

@media(max-width:992px) {
  .feature .content .box h2 {
    text-align: center;
  }
}


.feature .content .box:hover h2 {
  color: var(--secondaryColor);
}

.feature .content .box .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature .content .box .info p {
  font-weight: 400;
  font-size: 20px;
}

.feature .content .box .info p span {
  color: var(--mainColor);
}

.feature .content .box .info a {
  color: var(--mainColor);
  font-size: 25px;
  font-weight: 300;
  display: block;
  text-transform: uppercase;
  transition: var(--trans);
}

.feature .content .box .info a:hover {
  color: var(--secondaryColor);
}


/* Start About */
.about {
  background-color: #f1f5f9;
}

@media(max-width:992px) {
  .about {
    padding-bottom: 60px;
  }
}

.about .content .box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

@media(max-width:992px) {
  .about .box {
    flex-direction: column;
    text-align: center;
  }
}


.about .box .image {
  flex-basis: 48%;
}

.about .box .image img {
  width: 100%;
  max-width: 100%;
}

.about .box .text {
  flex-basis: 48%;
}

.about .box .text h2 {
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 15px;
  color: var(--mainColor);
}

.about .box .text p {
  font-size: 15px;
  line-height: 1.8;
  color: var(--greyColor);
  margin-bottom: 15px;
}

.edit-btn {
  padding: 10px 15px;
  border: 1px solid var(--mainColor);
  outline: none;
  font-size: 18px;
  text-transform: capitalize;
  color: var(--mainColor);
  cursor: pointer;
  border-radius: 4px;
  transition: var(--trans);
  background-color: transparent;
}

.edit-btn:hover {
  background-color: var(--mainColor);
  color: #FFF;
}

/* Start blog */
.blog .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
}

.blog .box {
  background-color: #FFF;
  box-shadow: 0 0 10px #DDD;
  border-radius: 6px;
  transition: var(--trans);
}

.blog .box:hover {
  transform: translateY(-10px);
}

.blog .box img {
  width: 100%;
  max-width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.blog .text {
  padding: 10px;
  user-select: none;
}

.blog .text>* {
  margin-bottom: 15px;
}

.blog .text h2 {
  font-weight: bold;
  color: var(--colorBlack);
  font-size: 23px;
  line-height: 1.3;
  text-transform: capitalize;
  transition: var(--trans);
}

.blog .box:hover .text h2 {

  color: var(--mainColor);

}

.blog .text p {
  font-size: 15px;
  line-height: 1.7;
  color: var(--greyColor);
}


/* End blog */
/* Start testmonials */
.testmonials {
  background-color: #f1f5f9;
  position: relative;
}

.testmonials .main-title h2::after {
  background-color: #f1f5f9;
}

.testmonials .content {
  display: flex;
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 20px;
}

.testmonials .content.dragging {
  scroll-behavior: auto;
  scroll-snap-type: none;
}



.arrows {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: flex;
  gap: 15px;
}

.arrows i {
  width: 40px;
  height: 40px;
  background-color: var(--mainColor);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  cursor: pointer;
  transition: var(--trans);
}

.arrows i:hover {
  background-color: var(--secondaryColor);
}

.testmonials .content .box {
  scroll-snap-align: start;
  min-width: 100%;
  background-color: #FFF;
  box-shadow: 0 0 10px #DDD;
  padding: 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
  z-index: 1;
}

.testmonials .content.dragging .box {
  cursor: grab;
  user-select: none;
}


@media(max-width:992px) {
  .testmonials .content .box {
    flex-direction: column;
    text-align: center;
  }
}

.testmonials .content .box img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  border: 6px solid var(--mainColor);
}

.testmonials .content .box .text>* {
  margin-bottom: 10px;
}

.testmonials .content .box .text>.fa-quote-right {
  position: absolute;
  right: 30px;
  color: var(--secondaryColor);
  z-index: -1;
  font-size: 150px;
  opacity: 0.3;
  top: 0;
}

@media(max-width:992px) {
  .testmonials .content .box .text>.fa-quote-right {
    top: initial;
    bottom: 0;
  }
}

.testmonials .content .box .text h2 {
  font-weight: bold;
  color: var(--mainColor);
  text-transform: capitalize;
  font-size: 25px;
}

.testmonials .content .box .text .stars i {
  font-size: 22px;
  color: #ffc107;
}

.testmonials .content .box .text p {
  font-size: 15px;
  color: var(--greyColor);
  line-height: 1.7;
}

/* End testmonials */
/* Start contact */
.contact .content {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.contact .content .box {
  flex-basis: 48%;
}

.contact .content .box .map iframe {
  width: 100%;
  border-radius: 10px;
}

.contact .content .box h2 {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
  color: var(--colorBlack);
  text-transform: uppercase;
}

.contact .content .box form {
  display: flex;
  flex-direction: column;
}

.contact .content .box input,
.contact .content .box form textarea {
  margin-bottom: 15px;
  padding: 10px 15px;
  border: 1px solid #EEE;
  font-size: 15px;
  caret-color: var(--mainColor);
  color: var(--colorBlack);
  font-weight: 500;
  outline: none;
  transition: var(--trans);
}

.contact .content .box input:focus::placeholder,
.contact .content .box form textarea:focus::placeholder {
  transition: var(--trans);
  opacity: 0;
}

.contact .content .box form textarea {
  resize: none;
  height: 150px;
}


@media(max-width:992px) {
  .contact .content {
    flex-direction: column;
  }

  .contact .content .box:nth-child(1) {
    order: 2;
  }

  .contact .content .box h2 {
    text-align: center;
  }

  .contact .content .main-btn {
    width: 100%;
  }
}


/* End contact */
/* Start Footer */
footer {
  background-color: #191919;
  padding-top: 60px;
}

footer .head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 60px;
}


footer .head .item {
  color: #FFF;
  transition: var(--trans);
  cursor: pointer;
}

@media(max-width:992px) {
  footer .head {
    flex-direction: column;
    gap: 20px;
  }

  footer .head .item {
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  footer .head .item p {
    position: relative;
    top: -5px;
  }

  footer .head .item:hover {
    transform: initial;
    transform: translateX(10px) !important;
  }

  footer .head .item:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

footer .head .item i {
  font-size: 25px;
  margin-bottom: 10px;
}

footer .head .item:hover {
  transform: translateY(-10px);
  color: var(--mainColor);
}



footer .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 15px;
}


footer .content .links a {
  display: block;
  color: #b9b9b9;
  margin-bottom: 10px;
  position: relative;
  transition: var(--trans);
  padding-bottom: 10px;
}

@media(max-width:992px) {
  footer .content .links li:not(:last-child) a {
    border-bottom: 1px solid #444;
  }
}

footer .content .links a:hover {
  transform: translateX(10px);
  color: #FFF;
}

footer .content .links a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 7px;
  color: var(--secondaryColor);
}


.desc-title {
  font-weight: bold;
  color: #FFF;
  font-size: 24px;
  margin-bottom: 14px;
}


footer .content .box .images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

footer .content .box .images img {
  flex-basis: 30%;
  width: 60px;
  height: 60px;
  object-fit: contain;
}


footer .content .box form input {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 15px 15px;
  background-color: transparent;
  border: 1px solid var(--mainColor);
  font-weight: bold;
  color: #FFF;
  caret-color: var(--mainColor);
  border-radius: 4px;
  outline: none;
  transition: var(--trans);
}

footer .content .box form .main-btn:hover {
  background-color: transparent;
}

@media(max-width:992px) {
  footer .content .box form .main-btn {
    width: 100%;
  }
}

footer .content .box form input::placeholder {
  opacity: 0;
  transition: var(--trans);
}


.social-icon {
  margin-top: 15px;
  display: flex;
  gap: 20px;
}

@media(max-width:992px) {
  .social-icon {
    justify-content: space-between;
  }
}

.social-icon i {
  width: 50px;
  height: 50px;
  border: 1px solid var(--mainColor);
  color: var(--mainColor);
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  cursor: pointer;
  transition: var(--trans);
}

.social-icon i:hover {
  color: #FFF;
  border: none;
  transform: translateY(-5px);
}


.social-icon i.fa-facebook-f:hover {
  background-color: #1877f2;
}

.social-icon i.fa-twitter:hover {
  background-color: #1da1f2;
}

.social-icon i.fa-instagram:hover {
  background-color: #3f729b;
}

.social-icon i.fa-linkedin-in:hover {
  background-color: #0073b2;
}


.copyright {
  margin-top: 20px;
  user-select: none;
  padding: 15px;
  text-align: center;
  margin-bottom: 0;
  color: #FFF;
  font-weight: bold;
  border-top: 1px solid #444;
  font-size: 25px;
}

.copyright span {
  color: var(--mainColor);
}

.copyright i {
  color: red;
}

/* End Footer */
